[Unit]
Description=USB power cycle if ASI ZWO is not found

[Timer]
OnBootSec=30min
OnUnitActiveSec=5min
Unit=power-cycle-missing-zwo.service

[Install]
WantedBy=timers.target
